[data-theme='home'] {
	--main-font: var(--font-jakarta), sans-serif;
	--decorative-font: var(--font-cormorant), serif;
	--handwriting-font: var(--font-quicksand), sans-serif;
	--nav-font-size: 1.4rem;
	--btn-font-size: 1.2rem;

	--main-color: #b5a2cd;
	--main-color-dark: #ac96c7;
	--text-color: #41414c;
	--background-color: #fcfcfc;

	--nav-text-color: var(--text-color);
	--burger-line-color: var(--text-color);

	--btn-text-color: #fff;
	--btn-background-color: var(--main-color);
	--btn-hover-color: #c9b4e9;
	--btn-hover-shadow-color: rgba(174, 130, 224, 0.35);
	--btn-hover-border-color: #ede8f3;

	--light-border-color: #dfd7ea;
	--mobile-nav-background-color: var(--background-color);
	--mobile-nav-accent-color: #935fe4;
	--mobile-nav-hover-background-color: #f7f2fb;
}
