@use '@/styles' as *;

.form-error-message {
	position: absolute;
	left: calc(100% + 0.8rem);
	z-index: $z-ui;
	display: flex;
	align-items: center;
	gap: 1.2rem;
	padding: 0.8rem 1.2rem;
	width: 20rem;
	background-color: var(--form-error-background-color);
	border-radius: 1.2rem;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0rem;
		z-index: $z-background;
		translate: 0 -50%;
		width: 2.4rem;
		aspect-ratio: 1/1;
		background-color: var(--form-error-background-color);
		rotate: 45deg;
	}

	&__icon {
		flex-shrink: 0;
		width: 2.4rem;
		color: var(--form-error-accent-color);
	}

	&__text {
		font-size: 1.4rem;
		color: var(--text-color);
	}
}
