@use '@/styles' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	font-family: $main-font;
	color: $text-color;
	overflow: hidden;
	background-color: #fcfcfc;
}

button,
input,
textarea,
select {
	font-family: inherit;
}

a {
	text-decoration: none;
	color: $text-color;
}

ol,
ul {
	list-style: none;
}

main {
	margin: 0 auto;
	max-width: 120rem;
}

button {
	cursor: pointer;
}

hr {
	border: 0;
}
