.auth-form-section {
	width: 30%;
	color: var(--light-text-color);

	&__header {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
		margin-bottom: 1.2rem;
	}

	&__greeting {
		font-size: 1.8rem;
		color: var(--main-color);
	}

	&__title {
		font-size: var(--header-font-size);
		font-family: var(--header-font);
		line-height: 6rem;
	}

	&__subtitle {
		font-size: 2rem;
	}

	&__description{
		font-size: 1.8rem;
	}
}
