@use '@/styles' as *;

$underline-hight: 0.5rem;
$input-icon-right-space: 1.2rem;
$input-icon-width: 3.2rem;
$input-scale: 1.02;

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;

	&__input-field {
		position: relative;
		display: flex;
		align-items: center;
		transition: scale 0.3s;

		&:focus-within {
			scale: $input-scale;
		}
	}

	&__input {
		padding: 1.2rem;
		width: 100%;
		font-size: 1.6rem;
		color: var(--light-text-color);
		background-color: var(--input-background-color);
		border: 1px solid var(--input-border-color);
		border-radius: 1.2rem;
		transition:
			scale 0.3s,
			box-shadow 0.3s;

		&::placeholder {
			font-size: 1.6rem;
			color: var(--light-text-color);
		}

		&:focus-visible {
			box-shadow: 0px 0px 1px 2px var(--main-color) inset;
		}

		&:not(.auth-form__input--password):focus-visible {
			scale: $input-scale;
		}

		&--password {
			padding-right: calc($input-icon-right-space + $input-icon-width + 1.2rem);
		}
	}

	&__input-btn {
		position: absolute;
		right: $input-icon-right-space;
	}

	&__input-icon {
		display: block;
		width: $input-icon-width;
	}

	&__options {
		display: flex;
		justify-content: space-between;

		&--register {
			justify-content: flex-start;
			gap: 0.8rem;
		}
	}

	&__checkbox-options {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		cursor: pointer;
	}

	&__checkbox {
		appearance: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2rem;
		height: 2rem;
		background-color: #fff;
		border-radius: 0.2rem;
		cursor: pointer;

		&:checked::after {
			content: '✓';
			font-size: 1.8rem;
			font-weight: bold;
			color: #3e75a7;
		}
	}

	&__text {
		font-size: 1.6rem;
		color: var(--light-text-color);
	}

	&__btn {
		@include btn($background-color: var(--main-color));

		&:hover,
		&:focus-visible {
			@include btn-hover;
		}
	}

	&__socials-divider {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.2rem;

		&::before,
		&::after {
			content: '';
			flex-grow: 1;
			height: 1rem;
			background-color: currentColor;
			mask: url('/img/decorations/irregular-line.svg') center / contain no-repeat;
		}
	}

	&__socials-icon {
		width: 1.2rem;
		height: 1.2rem;
		background-color: currentColor;
		mask: url('/img/decorations/stars/diamond-sparkle.svg') center / contain no-repeat;
	}

	&__socials {
		display: flex;
		justify-content: center;
		gap: 1.6rem;
	}

	&__social-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.2rem 2rem;
		background-color: var(--input-background-color);
		border: 2px solid var(--input-border-color);
		border-radius: 1.2rem;

		&:hover,
		&:focus-visible {
			@include btn-hover;
			scale: 1;
		}
	}

	&__social-icon {
		width: 3.2rem;
		height: 3.2rem;
		background-color: var(--light-text-color);
		mask: center / contain no-repeat;
		transition: background-color 0.3s;

		&--google {
			mask-image: url('/img/icons/auth/google.svg');
		}

		&--discord {
			mask-image: url('/img/icons/auth/discord.svg');
		}
	}

	&__social-btn:hover &__social-icon,
	&__social-btn:focus-visible &__social-icon {
		background-color: var(--btn-text-color);
	}

	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.2rem;
		margin-top: 1.2rem;
	}

	&__link,
	&__modal-btn {
		position: relative;
		font-size: 1.8rem;
		color: var(--main-color);
		translate: 0px calc(($underline-hight / 2) * -1);

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.5rem;
			width: 100%;
			height: $underline-hight;
			background-color: currentColor;
			mask: url('/img/decorations/underline.svg') center / 100% 100% no-repeat;
		}

		&:hover,
		&:focus-visible {
			color: var(--main-color-dark);
		}
	}
}
