@use '@/styles' as *;

.hero {
	display: flex;
	&__article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1.6rem;
		flex: 1;
	}

	&__heading {
		font-size: 6.2rem;
		font-family: $decorative-font;
		line-height: 1;
		letter-spacing: 0.2rem;

		& > span {
			color: $main-color;
		}
	}

	&__description {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.7;
	}

	&__btns {
		display: flex;
		gap: 1.2rem;
	}

	&__btn {
		@include btn;

		&--white {
			color: $text-color;
			background-color: #fff;
		}
	}

	&__figure {
		position: relative;
		flex: 1;
		height: 70vh;
		overflow: hidden;
	}

	&__girl-animation {
		width: 90%;
	}

	&__cloud-speech-bubble {
		position: absolute;
		top: 0;
		right: 0;
		width: 33%;

		&-img {
			width: 100%;
			height: auto;
		}

		&-text {
			position: absolute;
			top: 0;
			right: -0.8rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-family: $handwriting-font;
			font-size: 1.8rem;
		}
	}
}
