@use '@/styles' as *;

.hero {
	position: relative;
	display: flex;
	&__article {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		margin-top: 2.4rem;
		width: 50%;
	}

	&__heading {
		font-size: 6.2rem;
		font-family: $decorative-font;
		line-height: 1;
		letter-spacing: 0.2rem;

		& > span {
			color: $main-color;
		}
	}

	&__description {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.7;
	}

	&__btns {
		display: flex;
		gap: 1.2rem;
	}

	&__btn {
		@include btn;

		&:hover {
			@include btn-hover;
		}

		&--white {
			color: $text-color;
			background-color: #fff;

			&:hover {
				background-color: #fff;
			}
		}

		&:hover &-icon {
			filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.9));
		}
	}

	&__btn-icon {
		width: 1.8rem;
		transition: filter 0.3s;
	}

	&__figure {
		position: relative;
		height: 70vh;
		overflow: hidden;
	}

	&__girl-animation {
		$girl-animation-mask:
			linear-gradient(to right, transparent 0%, black 0%, black 92%, transparent 100%),
			linear-gradient(to bottom, black 0%, black 80%, transparent 100%),
			radial-gradient(ellipse at left bottom, transparent 0%, black 45%);

		position: relative;
		z-index: 10;
		width: 76%;
		height: auto;
		transform: translate(8.5rem, -0.8rem);

		-webkit-mask-image: $girl-animation-mask;
		mask-image: $girl-animation-mask;

		-webkit-mask-composite: source-in, source-in;
		mask-composite: intersect, intersect;
	}

	&__cloud-speech-bubble {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		width: 33%;

		&-img {
			width: 100%;
		}

		&-text {
			position: absolute;
			top: 0;
			right: -0.8rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-family: $handwriting-font;
			font-size: 1.8rem;
			line-height: 3rem;
		}
	}

	&__cards-list {
		position: absolute;
		bottom: -5rem;
		z-index: 10;
		display: flex;
		gap: 1.2rem;
	}

	&__cloud-background {
		position: absolute;
		left: -13.5rem;
		bottom: -19rem;
		z-index: -1;
		width: 100vw;
		height: 80vh;
	}
}
